<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./../styles/index.css">
    <!-- <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script> -->
    <script src="../controllers/controller.js"></script>
</head>
<body>
    <!-- <header>
        <h1 class="text-center mt-3">Exercici Vehicles</h1>
    </header>
    <section class="container mt-3">
        <form id="carForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="plate" class="font-weight-bold">Plate</label>
                        <input id="plate" name="plate" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="brand" class="font-weight-bold">Brand</label>
                        <input id="brand" name="brand" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="color" class="font-weight-bold">Color</label>
                        <input id="color" name="color" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-2">Create car</button>
            </div>
        </form>
    </section> -->
    <p id="carInfo"></p>
    <button onclick="createCar('1212SDS','SEAT','ROJO')">Create car</button>
</body>
